/* Filter Popup Container */
.filter-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup appears on top of other content */
}

/* Popup */
.filter-popup {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 700px;
  height: 700px;
  
}

.filterclose-holder {
  display: flex;
  justify-content: space-between; /* This will push the Filter to the left and X to the right */
  align-items: center; /* Center the content vertically */
  padding-right: 30px;
  padding-left: 40px;
  border-bottom: 1px solid #eee; /* Add a border to the bottom */
}

.filter-heading {
  flex: 1; /* This makes the "Filter" div take up the available space */
  text-align: center; /* Center the text horizontally */
}

.filterclose-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.filterclose-button:hover {
  background-color: #eee;
  border-radius: 50%;
  color: #ca2020;
}

.filter-content {
  padding-left: 40px;
  padding-right: 40px;
  overflow-y:auto ;
  overflow-x: auto;
  max-width: 100%;
}


/* Label and Input Fields */
label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Filter Buttons */
.filter-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.apply-button,
.clear-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.clear-button {
  background-color: #dc3545;
}

.apply-button:hover,
.clear-button:hover {
  opacity: 0.8;
}
