/* Filter Popup Container */
.filter-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup appears on top of other content */
}

/* Popup */
/* Popup */
.filter-popup {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 700px; /* You can adjust this width as needed */
  max-width: 100%; /* Add max-width property to ensure responsiveness */
  height: 500px;
  overflow-y: auto;
  position: relative; /* Add this to position the footer */
  overflow-x: hidden;
}

/* Header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 40px;
  border-bottom: 1px solid #eee; /* Add a border to the bottom */

}

.filter-heading {
  font-size: 24px; /* Adjust the font size as needed */
  flex: 1; /* This makes the "Filter" div take up the available space */
  text-align: center; /* Center the text horizontally */
}

.filterclose-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.filterclose-button:hover {
  color: #ca2020; /* Close button color on hover */
  border-radius: 50%;
  background-color: #eee;
}

/* Filter Content */
.filter-content {
  padding-left: 40px;
  padding-right: 40px;
}

/* Label and Input Fields */
label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.apply-button,
.clear-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px; /* Adjust the padding to move buttons away from the edge */
  margin-right: 20px; /* Add margin to separate the buttons */
  margin-left: 20px;
  cursor: pointer;
}

.clear-button {
  background-color: #dc3545;
}

.apply-button:hover,
.clear-button:hover {
  opacity: 0.8;
}
